.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  body{
    background-color: hsl(0, 0%, 98%);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
  }
  .container{
    width: 100%;
    margin: auto;
    overflow: hidden;

  }

  /* header */

  ul{
    margin: 0;
    padding: 0;
  }
  header {
    background-color: hsl(0, 0%, 100%);
    width: 90vw;
    min-height: 70px;
    padding: 5px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 2;
}
.nav-links li {
    display:inline-block;

}
.nav-links li a {
    margin-left: 20px;
    position: relative;
    color:hsl(233, 8%, 62%);
}

.nav-links li a:hover {
   /* width: 100%; */
   /* background-color: rgb(215, 222, 228); */
  /* font-size: 18px; */
  font-weight: 700;
  /* border-radius: 5px; */
}

.dropdown-toggle {
    display: none;
    border: none;
    cursor: pointer;
 }
  #invite{
    background-color: rgb(92, 205, 92);
    margin-bottom:10px;
    float: right;
    height: 35px;
    width: 150px;
    border-radius: 20px;
  }

/* showcase */
  .showcase {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    position: relative;
    background-color: hsl(0, 0%, 98%);
}
.showcase-container {
    font-size: 23px;
    margin-bottom: 20px;
}
.showcase-container p {
    margin-bottom: 30px;
}
.mockup {
    background: url('./images/bg-intro-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50px;
    background-position-y: -130px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-img {
    width: 100%;
    transform: translate(110px,-10px);
}
.showcase-container {
    display: flex;
    flex-direction: column;
    padding:0px 50px;
    width: 70%;

}


  /* whyEasybanck */

  #whyEasybanck{
    background-color: rgb(225, 221, 221);
    /* margin-top: 20px; */
    min-height: 400px;
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    /* width: 90%; */
  }
  #whyEasybanck .boxes{
    /* float: left; */
    /* width: 25%; */
    text-align: center;
  }
  #whyEasybanck p{
    margin-bottom: 40px;
  }
  #whyEasybanck .boxes p{
    margin-left: 20px;
    text-align: justify;
  }
  .inner-container{
    display: flex;
    /* width: 100vw; */
  }
 
  /* articales */

  #articales{
    background-color: white;
    /* display: flex; */
    padding: 0 50px;

  }
  #articales .articales{
    float: left;
    width: 25%;
  }
  #articales .articales img{
    width: 90%;
    height: 200px;
  }

  /* footer */
  footer {
    background-color: hsl(234, 78%, 5%);
    display: flex;
    justify-content: space-between;
    padding: 10px 50px;
    min-height: 170px;
}

.ft-one {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
}
footer ul {
    list-style: none;
}
.social-link {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.social-link .logo-img {
    color:white;
    padding-bottom: 20px;
}
.social-link li {
    display: inline-block;
    margin-right: 10px;
}

.ft-nav-one li, .ft-nav-two li {
     margin: 10px 0;
}
.ft-nav-one li a, .ft-nav-two li a {
    color: hsl(233, 8%, 62%);
    font-size: 20px;
}
.ft-two { 
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.ft-two h4 {
    color: hsl(233, 8%, 62%);
}
 

/* mobile view */

@media screen and (max-width: 765px) {
  header{
    padding : 30px 40px;
}
.nav-links {
    position: absolute;
    top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 80%;
    padding: 40px;
    border-radius: 10px;
    text-align: center;
    opacity: 0;
    transition: all .5s ease-in-out;
}

header .nav-links li {
   margin: 20px 0;
}
header .nav-links li a {
    margin: 20px 0;
 }
  header #invite {
    display: none;
 }

 .dropdown-toggle {
    display: block;
    cursor: pointer;
 }

 .active {
    opacity: 1;
 }


   /* showcase */
   .showcase {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    /* overflow-x: hidden; */
    flex-direction: column-reverse;
    background-color: hsl(0, 0%, 98%);
 }
 .showcase-container {
    width: 100%;
    transform: translate(0);
    padding: 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 }
 .image {
    background-size: 100%;
    background-position-x: 120px;
    background-position-y: 30px;
 }
 .image-img {
    width: 100%;
    transform: translate(-10px, -90px);
    /* filter: invert(10%); */
 }
   /* why easy bank */
   .inner-container{
    display: flex;

    flex-direction: column;
   
   }
   .inner-container .boxes{
    width:100%;
   }

/* articles */

   #articales{
    background-color: white;
  
    /* display: flex; */
    padding: 0 50px;

  }
  .articales-container{
    display: flex;
    flex-direction: column;
  }
  #articales .articales{
    /* float: left; */
    width: 100%;
  }
  #articales .articales img{
    width: 90%;
    height: 200px;
  }

/* footer */
   footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 40px;
   }
   .ft-one {
      /* display: flex; */
      flex-direction: column;
   }
   .ft-nav-one, .ft-nav-two {
      text-align: center;
   }

   .ft-nav-one li, .ft-nav-two li {
      margin-top: 20px;

   }
   .ft-two {
      justify-content: center;
      align-items:center;
      padding: 8px;
      gap: 1rem;
   }
}